
#image1 {

    position: absolute;
    transform: translate(110px, 769px);
}

#image2 {

    position: absolute;
    transform: translate(1150px, 900px);
}

#image3 {

    position: absolute;
    transform: translate(1150px, 1500px);
}

#image4 {

    position: absolute;
    transform: translate(-22px, 1250px);
}

#image5 {

    position: absolute;
    transform: translate(1204px, 1226px);
}

#image6 {

    position: absolute;
    transform: translate(689px, 1526px);
}

#image7 {

    position: absolute;
    transform: translate(70px, 1648px);
}

#image8 {

    position: absolute;
    transform: translate(978px, 2309px);
}

#image9 {

    position: absolute;
    transform: translate(74px, 2471px);
}
#image10 {

    position: absolute;
    transform: translate(1200px, 2695px);
}
#image11 {

    position: absolute;
    transform: translate(920px, 3133px);
}

#image12 {

    position: absolute;
    transform: translate(334px, 3109px);
}

