
.section0-container
{
    margin: 0 0 0 68px;
    display: flex;
}

.section0  {

    width: 100%;
    background-color: #b75a74;
    color: white;

    display:  flex;
    flex-flow: column wrap;
    overflow: auto;
    gap: 30px;
   
    background-image:
    linear-gradient(to right ,#b75a74,#b75a7400),
    url(/Images/section0.jpg);

    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;    
}


.section0 .header {
    width: 100%;
    display:  flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    background-color: #b75a74;

    border-radius: 0 0 0 20px;
}


.section0 .header .image-box , .section0 .header .image-box img {

    width: 103px;
    height: 71px;

}

.section0 .header ul 
{
    display: flex ;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 665px;
    height: 18px;
}

.section0 .header ul li 
{
    list-style: none;
}

.section0 .header ul li a {
    text-decoration: none;
    font-size: 23px;
        text-transform: uppercase;
        color: #ffefd5;
        font-weight: 600;
        font-family: "Montserrat";
}

.section0 .text {

    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.section0 .text h1 {

        font-size: 78px;
        text-transform: uppercase;
        color: #ffefd5;
        font-weight: 700;
        font-family: "Montserrat";
}

.section0 .text p {

         width: 604px;
        height: 65px;
        font-size: 30px;
        color: #ffefd5;
        font-weight: 400;
        font-family: "Montserrat";
}

.section0   button {

        width: 322px;
        height: 65px;
        border-radius: 33px;
        background-color: #ffefd5;
        cursor: pointer;
 
        margin-top: 50px;
        border: none;
            font-size: 25px;
            text-transform: uppercase;
            color: #b75a74;
            font-weight: 700;
            font-family: "Montserrat";
            text-align: center;
}